%btn-bg{
	background: $mainColor;
	border: 0;
	border-radius: 5px;
	box-shadow: none;
	color: $lightColor;
	display: inline-block;
	font-family: $mainFont;
	font-size: 18px;
	text-align: center;
	text-decoration: none;
	&:hover,
	&:focus{
		background: hex-to-rgba($mainColor, 0.9);
		color: $lightColor;
		text-decoration: none;
	}
}

%blockFluid{
	left: -50vw;
	margin-left: 50%;
    overflow: hidden;
    position: relative;
    width: 100vw;
}