@import url('https://fonts.googleapis.com/css?family=Hind');


@font-face {
    font-family: 'HelveticaNeue-CondensedBold';
    src: url('../fonts/HelveticaNeue-CondensedBold/HelveticaNeue-CondensedBold.eot');
    src: url('../fonts/HelveticaNeue-CondensedBold/HelveticaNeue-CondensedBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeue-CondensedBold/HelveticaNeue-CondensedBold.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'HelveticaNeue-Bold';
    src: url('../fonts/HelveticaNeue-Bold/HelveticaNeue-Bold.eot');
    src: url('../fonts/HelveticaNeue-Bold/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeue-Bold/HelveticaNeue-Bold.ttf') format('truetype');
    font-weight: normal;
}