@mixin prefix($property, $value, $prefixes: ()){
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  }
  // Output standard non-prefixed declaration
  #{$property}: $value;
}


// RGB to RGBA
//example -> background-color: hex-to-rgba($color-3, 0.68);
@function hex-to-rgba ($color: #FFF, $opacity: 0.5) {
  @return rgba(red($color), green($color), blue($color), $opacity);
}

//Gradient
//example @include linear-gradient($lg_blue_From, $lg_blue_To);
@mixin linear-gradient($from, $to) {
  background: $to;
  background: -ms-linear-gradient(top, $from 0%, $to 100%);
	background: -moz-linear-gradient(top, $from 0%, $to 100%);
	background: -webkit-gradient(linear, top, color-stop(0%,$from), color-stop(100%,$to));
	background: -webkit-linear-gradient(top, $from 0%,$to 100%);
	background: -o-linear-gradient(top, $from 0%,$to 100%);
	background: linear-gradient(to bottom, $from 0%,$to 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#{$from}, endColorstr=#{$to})
}

//Gradient diagonal
//example @include linear-gradient-degree($lg_blue_From, $lg_blue_To);
@mixin linear-gradient-degree($from, $to, $degree) {
  background: $to;
  background: -moz-linear-gradient($degree, $from 0%, $to 100%);
  background: -webkit-gradient($degree,  color-stop(0%,$from), color-stop(100%,$to));
  background: -webkit-linear-gradient($degree, $from 0%,$to 100%);
  background: -o-linear-gradient($degree, $from 0%,$to 100%);
  background: linear-gradient($degree, $from 0%,$to 100%);
  //filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#{$from}, endColorstr=#{$to})
}

//ejem @include horizontal-gradient(white, transparent);
@mixin horizontal-gradient ($startColor: #eee, $endColor: white) {
  background-color: $startColor;
  background-image: -webkit-gradient(linear, left top, right top, from($startColor), to($endColor));
  background-image: -webkit-linear-gradient(left, $startColor, $endColor);
  background-image: -moz-linear-gradient(left, $startColor, $endColor);
  background-image: -ms-linear-gradient(left, $startColor, $endColor);
  background-image: -o-linear-gradient(left, $startColor, $endColor);
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}

//Keyframes
//example @include keyframes(bgcolor) { 0% { background-color: #ffccf2; }}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  } 
}