//===================================
//				COLORS
//=====================================

$darkColor:#000; 
$lightColor:#fff; 

$mainColor: #001b3e; //Blue
$secondColor: #ffc600; //Yellow
$thirdColor: #eaeffa; //Lightblue
$fourColor: #909090; // Gray txt
$fiveColor: #ffd03e; // Yellow 2

//===================================
//				FONTS
//=====================================
$mainFont: 'HelveticaNeue-CondensedBold';
$secondFont: 'Hind', sans-serif;
$thirdFont: 'HelveticaNeue-Bold';