<link rel="stylesheet" type="text/css" href="css/styles.css">	

<footer>
	<div class="icons">
		<div class="item">
			<div class="icon">
				<img src="sites/all/themes/custom/corona/img/manos.svg" width="76">
			</div>	
			<p>13 Brigadas realizadas +294 voluntarios</p>
		</div>

		<div class="item">
			<div class="icon">
				<img src="sites/all/themes/custom/corona/img/folio.svg" width="76">
			</div>	
			<p>307 folios registrados para reconstrucción de casa</p>
		</div>

		<div>
		   <a href="/user/register" class="btn-success">INSCRÍBETE  AQUÍ</a>
		</div>		
	</div>	

	<div class="copy">
		<p>Prohíbese el expendio de bebidas embriagantes a menores de edad. Todo con medida </p>
		<p><a href="#">aviso de privacidad</a> - <a href="#">política de uso</a> </p>
		<p>Todos los derechos reservados ab-inbev 2019</p>
	</div>

	<div class="logo">
		<img src="sites/all/themes/custom/corona/img/logo-corona-white.png" width="109">
	</div>
</footer>