body{
	font-family: $secondFont;
	overflow-x: hidden;
}
.container,
.col-sm-12{
	padding: 0;
	width: 100%;

	iframe{
		margin-top: 150px;

		@media screen and (max-width: 767px){
			width: 100%;
			height: 240px;
			display: block;
			margin-top: 20%; 
		}
	}
}
.row{
	margin: 0;
}
header{
	left: 0;
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 99;
	.container{
		.navbar-header{
			display: block;
			float: none;
			margin: 0 auto;
		}
	}	
	.logo{		
		img{
			margin-top: 20px;
			width: 197px;
		}
	}
}
.submitted{
	display: none;
}
.paragraphs-items{
	.field-name-field-imagen-region,
	.group-wrapper{
		display: inline-block;
		vertical-align: middle;
		width: 100%;
	}
	.field-name-field-imagen-region{
		img{
			height: auto;
			width: 100%;
		}
	}
	.field-name-field-titulo-inicial{
		color: $mainColor;
		font-family: $mainFont;
		font-size: 60px;
		line-height: normal;
		max-width: 450px;
		text-transform: uppercase;
		strong{
			color: $secondColor;
			font-weight: normal;
		}
	}
	.field-name-field-enlace{
		margin-top: 20px;
		a{
			background: $mainColor;
			border: 1px solid $mainColor;
			color: $secondColor;
			display: inline-block;
			font-family: $thirdFont;
			font-size: 11px;
			letter-spacing: 2px;
			min-width: 254px;
			padding: 22px 0;
			text-align: center;
			text-transform: uppercase;
			@include prefix(transition, all 0.8s, webkit moz o ms);
			&:hover,
			&:focus{
				background: $lightColor;
				border: 1px solid $mainColor;
				color: $mainColor;
				text-decoration: none;
				@include prefix(transition, all 0.8s, webkit moz o ms);
			}
		}
	}	
	.field-name-field-enlace,
	.field-name-field-titulo-inicial{
		letter-spacing: 1px;
		margin-left: 82px;
		margin-top: 0;
	}
	.parrafo-descripcion{
		p{
			color: $fourColor;
			font-family: $secondFont;
			font-size: 18px;
			line-height: 22px;
			margin-bottom: 50px;
			margin-top: 25px;
			text-transform: none;
			& + p{
				margin-bottom: 0px;
			}
		}
	}
	.field-name-field-sub-texto-region{
		color: $lightColor;
		font-size: 22px;
		line-height: 26px;
		margin: 0 auto;
		max-width: 65%;
	}
	.field-item{
		&:first-child{

			.content{
				position: relative;
			}
			.field-name-field-sub-texto-region{
				display: none;
				background: $thirdColor;
				color: $mainColor;
				font-family: $mainFont;
				font-size: 16px;
				line-height: 24px;
				margin-top: 61px;
				max-width: 100%;
				text-align: center;
				text-transform: uppercase;
				&:before{
					content: "";
					background: url(../img/anillo.svg) no-repeat center;
					background-size: 41px;
					display: inline-block;
					height: 64px;
					margin-right: 26px;
					vertical-align: middle;
					width: 64px;
				}
				.field-items{
					display: inline-block;
					vertical-align: middle;
				}
				.field-item{
					letter-spacing: 1px;
					word-spacing: 3px;
				}
			}
			.field-name-field-titulo-inicial{
				letter-spacing: 0;
				max-width: 715px;
				margin: 0 auto;
				text-align: center;
			}
			.group-wrapper{
				left: 0;
				position: absolute;
				bottom: 0;
				width: 100%;
				z-index: 1;
			}

		}
		&:nth-child(2){
			text-align: center;
			background-image: url('../img/bg-playas.png');
			background-position: 0 center;
			background-repeat: no-repeat;
			background-size: cover;
			padding-top: 5%;
			padding-bottom: 5%;

			.field-name-field-imagen-region,
			.group-wrapper{
				width: 100%;
			}
			.field-name-field-imagen-region{
				img{
					display: block;
					margin: 0 auto;
					width: auto;
				}
			}
			.field-name-field-titulo-inicial{
				font-size: 50px;
				margin: 0 0 10%;
				max-width: 100%;
				word-spacing: 0px;
				strong{
					display: block;
				}
			}

			@media screen and (max-width: 1550px){
				padding-bottom: 2%;
				background-size: contain;
				background-position: bottom;
			}
		}
		&:nth-child(3){
			position: relative;
			text-align: center;
			.field-name-field-imagen-region,
			.group-wrapper{
				width: 100%;
			}
			.field-name-field-imagen-region{
				&.animated{
					animation-delay: 1.5s;
				}
			}	
			
			.field-name-field-titulo-inicial{
				color: $fiveColor;
				font-size: 32px;
				letter-spacing: 3px;
				margin: 0 auto;
				max-width: 100%;
				strong{
					color: $fiveColor;
					display: block;
				}
			}
			.group-wrapper{
				position: relative;
				z-index: 9;
				
				.field-name-field-sub-texto-region{
					max-width: 400px;
				}
			}
			.field-name-field-sub-texto-region{
				font-size: 18px;
				line-height: 22px;
				max-width: 406px;
			}
			.field-name-field-enlace{				
				bottom: -24px;				
				left: 50%;
				margin: 0;
				position: absolute;
				@include prefix(transform, translateX(-50%), webkit moz o ms);
				a{
					background: $secondColor;
					border: 1px solid $secondColor;
					color: $mainColor;
					padding: 20px 0;
					@include prefix(transition, all 0.8s, webkit moz o ms);
					&:hover,
					&:focus{
						background: $mainColor;
						border: 1px solid $secondColor;
						color: #ffc600;
						@include prefix(transition, all 0.8s, webkit moz o ms);
					}
				}
			}
		}
		&:nth-child(4){
			position: relative;
			text-align: center;
			.field-name-field-imagen-region,
			.group-wrapper{
				width: 100%;
			}
			.field-name-field-imagen-region{
				&.animated{
					animation-delay: 1.5s;
				}
			}	
			
			.field-name-field-titulo-inicial{
				color: $fiveColor;
				font-size: 32px;
				letter-spacing: 3px;
				line-height: 35px;
				margin: 0 auto 20px;
				max-width: 100%;
				strong{
					color: $fiveColor;
					display: block;
				}
			}
			.group-wrapper{
				background: $mainColor;
				padding: 66px 20px 77px;
				position: relative;
				z-index: 9;
				div{
					max-width: 550px;
				}
				.field-name-field-sub-texto-region{
					max-width: 400px;
				}
			}
			.field-name-field-sub-texto-region{
				font-size: 18px;
				line-height: 22px;
				max-width: 406px;
			}
			.field-name-field-enlace{				
				bottom: -24px;				
				left: 50%;
				margin: 0;
				position: absolute;
				@include prefix(transform, translateX(-50%), webkit moz o ms);
				a{
					background: $secondColor;
					border: 1px solid $secondColor;
					color: $mainColor;
					padding: 20px 0;
					@include prefix(transition, all 0.8s, webkit moz o ms);
					&:hover,
					&:focus{
						background: $mainColor;
						border: 1px solid $secondColor;
						color: #ffc600;
						@include prefix(transition, all 0.8s, webkit moz o ms);
					}
				}
			}
		}
		/*&:nth-child(4){
			margin-top: 0;
			overflow-x: hidden;
			position: relative;
			z-index: 9;
			.group-wrapper{
				padding-bottom: 164px;
				padding-top: 88px;
				vertical-align: top;
				width: 100%;
			}
			.field-name-field-imagen-region{
				width: 100%;
			}
			.field-name-field-titulo-inicial{
				font-size: 60px;
				letter-spacing: 1px;
				margin: 0;
				max-width: 100%;
				text-align: center;
				p{
					strong{
						margin-bottom: 60px;
						position: relative;
						&:after{
							content: "";
							background: url(../img/xx.png) no-repeat 0 0;
							display: inline-block;
							height: 36px;
							margin-left: 15px;
							width: 83px;
						}
						&:before{
							content: "";
							background: url(../img/pincelada.png) no-repeat 0 0;
							background-size: contain;
							bottom: -27px;
							display: inline-block;
							height: 26px;
							right: 107px;
							position: absolute;
							width: 236px;
						}
					}
				}		
				p{
					margin-bottom: 80px;
					margin-right: 25px;
				}		
				ul{
					margin-bottom: 20px;
					min-height: 50px;
					padding-left: 0;
					text-align: left;					
					li{
						font-size: 20px;
						height: 50px;
						letter-spacing: 1px;
						line-height: 18px;
						list-style: none;
						margin-right: 27px;
						max-width: 830px;
						word-spacing: -1px;
						&:first-child{	
							background: url(../img/circles.png) no-repeat 0 0;
							background-size: 378px;	
							padding-left: 400px;					
							/*&:before{
								content: "";
								background: url(../img/circles.png) no-repeat 0 0;
								background-size: contain;
								display: inline-block;
								height: 17px;
								margin-right: 40px;
								vertical-align: middle;
								width: 400px;
							}
						}
						&:nth-child(2n){
							color: $secondColor;
							font-size: 70px;
							letter-spacing: 4px;
							margin-bottom: 10px;
							margin-right: 28px;
							margin-top: -50px;
							position: relative;
							text-align: right;
							z-index: -1;
						}
					}
				}
			}
		}*/
		.content-anillos{
			width: 100%;

			.contenidos{
				width: 50%;
				display: inline-block;
				vertical-align: middle;

				&.content-texto{
					padding: 2% 4%;

					.title{
						margin-bottom: 5%;
						font-size: 36px;
						color: $mainColor;

						strong{
							color: $secondColor;
						}
					}

					.description{
						font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
						font-size: 18px;
						font-weight: bold;
						color: $mainColor;
						letter-spacing: 0;
						text-transform: none;
					}
				}

				&.content-imagen{

					img{
						width: 100%;
					}					
				}
			}

			@media screen and (max-width: 767px){
				
				.contenidos{
					width: 100%;					

					&.content-texto{
						padding-bottom: 10%;

						.title{
							font-size: 26px;
						}

						.description{
							font-size: 14px;
							line-height: initial;
						}
					}
				}
			}
		}
	}
}


.addimg{

	img{
		width: 100%;
	}

	&.animated{
		animation-delay: 1.5s;
	}
}

div.modal-forms-modal-content{
	width: 990px;
	.popups-container{
		background: #e9e9e9;
		height: 560px;
		overflow-y: scroll;
	}	
	.popups-close{
		background: url(../img/close.svg) no-repeat center;
		background-size: 48px;
		display: block;
		float: none;
		height: 48px;
		margin: 15px auto 0;
		opacity: 1;
		width: 48px;
		&:hover{
			background: url(../img/close.svg) no-repeat center;
			background-size: 48px;
		}
	}
	.modal-header{
		border: 0;
		.modal-title{
			display: none;
		}
	}
	.form-item label{
		display: block;
		float: none;
		height: auto;
		margin-bottom: 15px;
		overflow: inherit;
		padding-left: 12px;
		position: static !important;
		text-align: left;
		width: auto;
	}
	.field-name-field-acepto-terminos-y-condicio{
		label{
			color: #777;
			font-family: $secondFont;
			font-size: 11px;
			letter-spacing: 1px;
			padding-left: 12px;
			text-align: center;
			text-transform: none;			
			a{
				color: #777;
				text-decoration: underline;
			}
			input[type="checkbox"]{
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				background: $lightColor;
				height: 23px;
				margin-left: -32px;
				top: -7px;
				width: 23px;
				&:checked{
					background: url(../img/check.png) no-repeat center $lightColor;
					background-size: 14px;
					outline: none;
				}
				&.error{
					border: 1px solid #e24e4b;
				}
			}
		}
		label.error{
			bottom: 0;
			color: #a94442;
			left: 0;
			margin-bottom: 35px;
			padding: 0;
			font-family: $mainFont;
			font-size: 16px;
			position: absolute !important;
			text-transform: uppercase;
			width: 100%;
			a{
				color: #a94442;
			}
		}
		.has-error{
			label{
				color: #e24e4b;
				a{
					color: #e24e4b;
				}
			}
		}
	}
	.modal-content{
		overflow: hidden;
	}
	.form-group{
		&.has-error{
			label{
				color: #e24e4b;
			}
		}
	}
}
.modal-content{
	background: #e9e9e9;
	border: 0;
	box-shadow: none;
}
#modalContent{
	position: fixed !important;
	top: 20px !important;
}

form{
	margin: 0 auto;
	max-width: 840px;
	padding: 0 100px;
	.btn-fb{
		display: block;
		margin: 30px auto 15px;
		text-align: center;
	}
	.group-titulo{		
		h2{
			color: #c6c7c9;
			font-family: $mainFont;
			font-size: 32px;
			letter-spacing: 2px;
			text-align: center;
			text-transform: uppercase;
		}
		h3{
			border-top: 1px solid #ddd;
			color: $mainColor;
			font-family: $secondFont;
			font-size: 16px;
			margin: 0;
			padding: 28px 0 20px;
			text-align: center;
			text-transform: uppercase;
		}
	}
	label{
		color: #c6c7c9;
		font-family: $mainFont;
		font-size: 16px;
		text-transform: uppercase;
	}
	.form-group{
		display: inline-block;
		margin: 0 18px;
		width: 44%;
		vertical-align: top;
		.form-group{
			margin: 0 0 30px;
			width: 100%;
		}
		&.form-actions{
			margin: 0;
			text-align: center;
			width: 100%;
		}
		&.has-error{
			label{
				color: #e24e4b;
			}
		}
	}
	div[id^="edit-account"]{
		margin: 0 18px 15px;
		.form-group{
			display: inline-block;
			margin: 0;
			width: 100%;
			.form-group{
				margin: 0;
				width: 100%;
			}
			&.form-item-name,
			&.form-item-pass{
				display: none;
			}
		}
		.form-item-pass{
			margin: 0;
			width: 100%;
			.form-group{
				display: inline-block;
				margin: 0 18px;
				width: 43%;
			}
		}
	}
	.field-name-field-acepto-terminos-y-condicio{
		margin-top: 48px;
		text-align: center;
		width: 100%;
		label{
			text-align: center;
		}
	}	
	.panel-default{
		background: none;
		border: 0;
		box-shadow: none;
		.panel-heading{
			background: none;
			border: 0;
			color: #c6c7c9;
			font-family: $mainFont;
			font-size: 16px;
			margin-bottom: 15px;
			padding: 1px 0;
			text-align: left;
			text-transform: uppercase;
		}
		.panel-body{
			padding: 0;
		}
	}
	.help-block{
		display: none;
	}
}
.form-control{
	border: 0;
	border-radius: 0;
	box-shadow: none;
	color: #777;
	font-size: 11px;
	height: 42px;
	text-align-last:center;
	text-align: center;
	text-transform: uppercase;
	&:focus{
		border: 1px solid #c6c7c9;
		box-shadow: none;
		outline: none;
	}
	&.error{
		border: 1px solid #e24e4b;
	}
}
fieldset.date-combo{
	.container-inline-date{
		label{
			display: none;
		}
		.date-padding{
			padding: 0;
			width: 100%;
		}
		.form-item{
			margin: 0;
			input{
				width: 100%;
			}
		}
	}
}
.btn-success{
	background: $secondColor;
	border: 0;
	border-radius: 0;
	color: $mainColor;
	cursor: pointer;
	display: inline-block;
	font-family: $thirdFont;
	font-size: 11px;
	letter-spacing: 2px;
	margin-bottom: 76px;
	min-width: 254px;
	padding: 22px  0;
	position:relative;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	@include prefix(transition, all 0.8s, webkit moz o ms);
	&:active:focus,
	&:hover,
	&:focus,
	&:active,
	&[disabled]:hover{
		background: $mainColor;
		color: $secondColor;
		text-decoration: none;
		@include prefix(transition, all 0.8s, webkit moz o ms);
	}
	.ajax-progress{
		bottom: -20px;
		color: $mainColor;
		left: 50%;
		@include prefix(transform, translateX(-50%), webkit moz o ms);
		position: absolute;
	}
}
.footer{
	margin-top: 0;
}
footer{
	background: $mainColor;
	position: relative;
	.region-footer{
		padding: 18px 0 25px;
	}
	.btn-success{
		border: 1px solid #ffc600;
		margin-bottom: 34px;
		@include prefix(transition, all 0.8s, webkit moz o ms);
		&:hover,
		&:focus{
			border: 1px solid #ffc600;
			background: transparent;
			color: #ffc600;
			@include prefix(transition, all 0.8s, webkit moz o ms);
		}
	}
	.networks{
		text-align: center;
		ul{
			margin-bottom: 42px;
			padding: 0;
			li{
				display: inline-block;
				list-style: none;
				vertical-align: middle;
				&:hover{
					opacity: .7;
				}
				&:nth-child(2){
					margin: 0 130px;
				}
				.icon{
					display: inline-block;
					font-size: 0;
					height: 52px;
					overflow: hidden;
					min-width: 52px;
					&.icn-fb{
						background: url(../img/facebook.png) no-repeat center 0;
						background-size: contain;
					}
					&.icn-inst{
						background: url(../img/instagram.png) no-repeat center 0;
						background-size: contain;
					}
					&.icn-tw{
						background: url(../img/twitter.png) no-repeat center 0;
						background-size: contain;
					}
				}
			}
		}
		p{
			a{
				color: $lightColor;
				font-family: $thirdFont;
				font-size: 20px;
				letter-spacing: 3px;
				text-transform: uppercase;
				&:hover{
					opacity: .7;
					text-decoration: none;
				}
			}
		}
	}
	.icons{
		margin: 0 auto 62px;
		text-align: center;
		.item{
			display: block;
			margin: 0 auto;
			text-align: center;
			vertical-align: top;
			max-width: 592px;
			p{
				color: $lightColor;
				display: inline-block;
				font-family: $mainFont;
				font-size: 42px;
				letter-spacing: 3px;
				line-height: 38px;
				margin: 30px auto;
				max-width: 70%;
				text-transform: uppercase;
				text-decoration: underline;
				vertical-align: middle;
			}
			&:nth-child(2){
				&.animated{
					animation-delay: 1.5s;
				}
				.icon{
					img{
						height: auto;
						margin-top: 1px;
						width: 94px;
					}
				}
			}
		}
		.icon{
			background: $lightColor;
			border-radius: 100%;
			display: inline-block;
			height: 78px;
			margin: 0 25px 0 32px;
			text-align: center;
			vertical-align: middle;
			width: 78px;
			img{
				margin-top: 0;
			}
		}
	}
	.copy{
		margin-top: 112px;
		padding: 0 45px;
		p{
			color: rgba(255,255,255,.3);
			font-family: $secondFont;
			font-size: 10px;
			margin: 0 0 4px;
			a{
				color: rgba(255,255,255,.3);
				text-decoration: none;
				text-transform: uppercase;
			}
		}
	}
	.logo{
		bottom: 35px;
		left: 50%;
		position: absolute;
		text-align: center;
		width: 165px;
		@include prefix(transform, translateX(-50%), webkit moz o ms);
		img{
			width: 165px;
		}
	}
}

.page-user,
.admin-menu{
	.footer{
		margin: 0;
	}
	header{
		position: static;
	}
}
.page-user{
	.nav-tabs{
		max-width: 700px;
		margin: 50px auto;
	}
	.form-actions{
		.btn-primary{
			background: $secondColor;
			border: 0;
			border-radius: 0;
			color: $mainColor;
			font-family: $thirdFont;
			font-size: 11px;
			letter-spacing: 2px;
			margin: 20px 0;
			min-width: 254px;
			padding: 22px  0;
			text-align: center;
			text-transform: uppercase;
		}
	}
	.form-control{
		border: 1px solid #c6c7c9;
	}
	.form-group{
		margin: 0 0 20px;
		width: 100%;
	}
}
.animated{
	animation-duration: 1s;
	animation-delay: 1s;
}

.alert{
	background: rgba(0,0,0,0.8) !important;
	border-radius: 0;
	border: 0;
	color: $lightColor !important;
	height: 100%;
	left: 50%;
	padding: 40px;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 9999;
	@include prefix(transform, translateX(-50%), webkit moz o ms);
	ul{
		background: $lightColor;
		font-size: 14px;
		max-width: 400px;
		margin: 60px auto;
		padding: 40px;
		text-align: left;
		li{
			color: $fourColor;
			list-style: none;
		}
		a{
			color: $mainColor;
			&:hover{
				color: $mainColor;
			}
		}
	}
	a{
		color: $lightColor;
		&:hover,
		&:focus{
			color: $lightColor;
		}
	}
	a.close{
		color: $lightColor;
		font-size: 30px;
		opacity: 1;
	}
}

@media screen and (min-height: 800px){
	div.modal-forms-modal-content{
		.popups-container{
			height: 850px;
		}
	}
}

@media screen and (max-width: 1100px){
	.paragraphs-items{
		.field-item{
			&:first-child{
				.field-name-field-sub-texto-region{
					margin-top: 40px;
				}
			}
			&:nth-child(4){
				.group-wrapper{
					padding: 88px 0 25px;
				}
			}
		}
		.parrafo-descripcion{
			p{
				margin-bottom: 0px;
			}
		}
	}
	footer{
		.copy{
			p{
				max-width: 240px;
			}
		}
	}
}


@media screen and (max-width: 960px){
	.paragraphs-items{	
		.field-name-field-imagen-region{
			overflow: hidden;
		}
		.field-name-field-enlace,
		.field-name-field-titulo-inicial{
			margin-left: 40px;
		}
		.field-item{
			&:first-child{
				.content{
					align-items: center;
				}
				.field-name-field-sub-texto-region{
					bottom: 0;
					left: 0;
					position: absolute;
					width: 100%;
				}
			}
			&:nth-child(2){
				padding: 35px 0;
				.field-name-field-sub-texto-region{
				}
				.field-name-field-titulo-inicial {
					font-size: 48px;
				}
			}
			&:nth-child(4){
				.field-name-field-titulo-inicial{    
					margin: 0;
					p{
						
					}
					ul{
						li{
							text-align: left;
							&:nth-child(2n){
								text-align: right;
							}
							&:first-child{
								background-size: 285px;
								padding-left: 330px;
							}
						}						
					}
				}
				.group-wrapper,
				.field-name-field-imagen-region{
					padding: 0;
					img{
						margin: 0;
					}
				}
			}
		}
		.field-name-field-sub-texto-region{
			max-width: 650px;
		}
	} 
	div.modal-forms-modal-content {
		width: 650px;
		.popups-container{
			height: 975px;
		}
	}
	form{
		padding: 0;
	}	
}

@media screen and (max-width: 767px){
	header .logo img {
		width: 105px;
		margin-top: 6px;
	}
	.paragraphs-items{
		.parrafo-descripcion{
			p{
				font-size: 13px;
				line-height: normal;
			}
		}
		.field-name-field-enlace, 
		.field-name-field-titulo-inicial{
			margin-left: 15px;
		}
		.field-name-field-enlace{
			a{
				margin-top: 30px;
				min-width: inherit;
				padding: 15px;
			}
		}
		.field-name-field-titulo-inicial{
			font-size: 40px;
		}
		.field-item{
			&:first-child{
				.content{
				}
				.field-name-field-sub-texto-region{
					font-size: 14px;
					text-align: left;
					&:before{
						background: url(../img/anillo2.svg) no-repeat center $mainColor;
						background-size: 37px;
						margin-right: 15px;
					}
					.field-item{
						max-width: 260px;
						font-size: 13px;
						word-spacing: 1px;
					}
				}
				.field-name-field-titulo-inicial{
					margin: 0 15px;
				}	
				.field-name-field-imagen-region{
					img{
						height: 492px;
						left: 50%;
						max-width: inherit;
						@include prefix(transform, translateX(-52%), webkit moz o ms);
						position: relative;
						width: auto;
					}
				}
			}
			/*&:nth-child(4){
				.field-name-field-titulo-inicial{
					margin: 0;
					p{
						font-size: 40px;
						max-width: 345px;
						left: 50%;
						margin: 0;
						padding: 0 42px;
						text-align: right;
						transform: translateX(-50%);
						top: 84px;
						& + ul{
							margin-top: 245px;
						}
						strong{
							display: block;
							margin-bottom: 0;
							&:before{
								background: url(../img/xx.png) no-repeat 0 0;
								background-size: contain;
								bottom: -9px;
								height: 30px;
								left: 0;
								margin-right: 20px;
								position: relative;
								width: 40px;
							}
							&:after{
								background: url(../img/pincelada.png) no-repeat 0 0;
								background-size: contain;
								bottom: -46px;
								height: 50px;
								right: 0px;
								width: 166px;
							}
						}
					}
					ul{
						margin-bottom: 0;
						margin-left: 0;
						padding: 0;
						li{
							font-size: 14px;
							line-height: normal;
							margin-right: 0;
							&:nth-child(2n){
								font-size: 45px;
								margin-bottom: 18px;
								margin-right: 0;
								margin-top: -60px;
							}
							&:first-child{
								background: url(../img/circles2.png) no-repeat 0 5px;
								background-size: 125px;
								padding-left: 140px;
								padding-right: 80px;
							}
						}
						&:last-child{
							li{
								&:nth-child(2){
									margin-bottom: 25px;
								}
								&:nth-child(4){
									margin-bottom: 35px;
								}
							}
						}
					}
				}
				.group-wrapper{
					margin-bottom: 40px;
					padding-right: 10px;
				}

			}*/
			
			&:nth-child(4){

				.group-wrapper{
					padding: 16% 6%;

					.field-name-field-titulo-inicial{
						margin-bottom: 6%;

						p{
							font-size: 20px;
							line-height: initial;
						}
					}

					.field-name-field-sub-texto-region{

						p{
							font-size: 14px;
						}
					}
				}
			}

			&:nth-child(2){
				margin-bottom: 120px;
				background-image: url(../img/bg-playas-mobile.png);
				background-position: 0 100px; 
				background-size: cover;

				.field-name-field-imagen-region{
					img{
						width: 100%;
					}
				}
				.field-name-field-titulo-inicial{
					font-size: 26px;
					letter-spacing: 1px;
					margin: 0 3% 45%;
					strong{
						display: block;
					}
				}
				.field-name-field-sub-texto-region{
					font-size: 14px;
					line-height: 18px;
					padding: 0 45px;
				}
			}
			&:nth-child(3){
				margin-top: -75px;
				.group-wrapper{
					
				}
				.field-name-field-titulo-inicial{
					font-size: 25px;
					line-height: 30px;

					strong{
						display: inline;
					}
				}
				.field-name-field-sub-texto-region{
					color: $lightColor;
					font-size: 15px;
					font-weight: normal;
					line-height: 18px;
					padding: 0 26px;
				}
				.field-name-field-enlace{
					bottom: -21px;
					a{
						min-width: 240px;
					}
				}
				.field-name-field-imagen-region{
					img{
						height: 260px;
						max-width: inherit;
						@include prefix(transform, translateX(-38%), webkit moz o ms);
						width: auto;
					}
				}
			}
		}
	}
	div.modal-forms-modal-content {
		height: 94%;
		width: 300px;
		.popups-container{
			height: 100%;
		}
		.modal-scroll{
			height: 514px;
		}
		.popups-close{
			background-size: 30px;
			height: 30px;
			width: 30px;
		}
		.modal-content{
			padding: 0 25px;
		}
		.form-item{
			label{
				padding: 0;
			}
		}
	}
	form{
		.group-titulo{
			h2{
				font-size: 25px;
			}
		}
		.form-group{
			margin: 0;
			width: 100%;
		}
		div[id^="edit-account"]{
			margin: 30px 0;
		}
		.field-name-field-acepto-terminos-y-condicio{
			margin-top: 50px;
			padding-left: 0;
			label.error{
				text-align: left;
			}
		}
	}
	#modalContent{
		background: #e9e9e9;
		border-radius: 5px;
		height: 94%;
	}
	.btn-success{
		margin-bottom: 0;
		padding: 16px 0;
	}
	footer{
		.networks{
			ul{
				margin-bottom: 24px;
				li{
					.icon{
						height: 26px;
						width: 26px;
					}
					&:nth-child(2){
						margin: 0 34px;
					}
				}
			}
			p{
				a{
					font-size: 12px;
				}
			}
		}
		.region-footer {
			padding: 60px 0 25px;
		}
		.copy{
			margin-top: 30px;
			padding: 0 35px;
			text-align: center;
			p{
				max-width: 100%;
			}
		}
		.logo{
			position: static;
			margin: 25px 0 0;
			width: 100%;
			@include prefix(transform, translateX(0), webkit moz o ms);
			img{
				width: 90px;
			}
		}
		.icons{
			margin: 0 auto 30px;
			max-width: 355px;
			.icon{
				height: 50px;
				width: 50px;
				img{
					margin-top: 7px;
					height: auto;
					width: 38px;
				}
			}
			.item{
				max-width: 276px;
				p{
					font-size: 26px;
					line-height: 20px;
				}
				&:nth-child(2){
					.icon{
						img{
							margin-top: 2px;
							width: 45px;
						}
					}
				}
			}
		}
	}
	.footer{
		margin-top: -1px;
	}
}   

@media screen and (max-width: 320px){
	.paragraphs-items{
		.field-name-field-enlace, 
		.field-name-field-titulo-inicial {
			margin-left: 10px;
		}
		.field-name-field-enlace{
			a{
				margin-top: 12px;
				padding: 15px 8px;
			}
		}
		.field-item{
			&:first-child{
				.field-name-field-sub-texto-region{
					font-size: 12px;
					line-height: normal;
					&:before {
						margin-right: 11px;
					}
					.field-item{
						max-width: 235px;
					}
				}
				.field-name-field-imagen-region:before{
					height: 354px;
				}
			}
			&.field-item:nth-child(4){
				.field-name-field-titulo-inicial{
					p {
					}
				}
			}
		}
	}
}



    .flotante-registro{
    	width: 270px;
    	overflow: hidden;
    	text-align: center;
    	background: #fff;
    	-webkit-box-shadow: 0 0 10px 5px rgba(0,0,0,0.2);
    	box-shadow: 0 0 10px 5px rgba(0,0,0,0.2);
    	position: fixed;
    	right: 0;
    	bottom: 0;
    	z-index: 10;
    	-webkit-transform: translateX(0);
    	transform: translateX(0);
    	transition: transform .5s linear;

    	.close{
    		display: block;
    		text-align: right;
    		padding: 10px 10px 0;
    		cursor: pointer;

    		&:after{
    			content: "";
    			width: 20px;
    			height: 20px;
    			border-left: 2px solid #FFC627;
    			border-bottom: 2px solid #FFC627;
    			margin: auto;
    			position: absolute;
    			top: 20px;
    			right: 15px;
    			-webkit-transform: rotate(-135deg);
    			transform: rotate(-135deg);
    			transition-duration: .2s;
    			transition-property: -webkit-transform;
    			transition-property: transform;
    			transition-property: transform,-webkit-transform;
    			-webkit-transition: .25s ease-in-out;
    			-moz-transition: .25s ease-in-out;
    			-o-transition: .25s ease-in-out;
    			transition: .25s ease-in-out;
    		}

    		&:hover{

    			&:after{
    				border-left: 2px solid #0C2340;
    				border-bottom: 2px solid #0C2340;
    			}
    		}
    	}

    	.copy{
    		padding: 15px 10px;
    		margin: 0 0;
    		font-family: $mainFont;
    		font-size: 18px;
    		line-height: 1;
    		font-weight: bold;
    		text-transform: uppercase;
    		color: #0C2340;
    	}

    	.btn-registro{
    		width: 150px;
    		display: block;
    		padding: 15px 10px;
    		margin: 2% auto 8%;	
    		text-align: center;	
    		background: #FFC627;
    		border: none;
    		text-decoration: none;
    		-webkit-border-radius: 3px 3px 3px 3px;
    		border-radius: 3px 3px 3px 3px;
    		-webkit-transition: .25s ease-in-out;
    		-moz-transition: .25s ease-in-out;
    		-o-transition: .25s ease-in-out;
    		transition: .25s ease-in-out;

    		&:hover{
    			color: #fff;
    			background: #0C2340;

    			span{
    				color: #fff;
    			}
    		}

    		span{
    			font-size: 18px;
    			font-family: $mainFont;
    			color: #0C2340;
    			text-transform: uppercase;
    		}
    	}

    	&.animate{
    		-webkit-transform: translateX(100%);
    		transform: translateX(100%);
    		display: block; 
    	}

    	@media screen and (max-width: 767px){
    		width: 100%;

    		.close{
    			display: none;
    		}

    		.copy{
    			width: 53%;
    			padding: 12px 0;
    			font-size: 16px;
    			float: right;
    		}

    		.btn-registro{
    			width: auto;
    			float: left;
    			margin: 10px 2% 10px 4%;
    		}
    	}
    }

    /*----- Agegate Form -----*/

	.content-agegate{
		width: 100%;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 99;
		background-image: url('../img/MorganMaassenAG2.jpg');
		background-position: 0 center;
		background-repeat: no-repeat;
		background-size: cover;

		@media screen and (max-width: 767px){
			background-position: center center;
		}

		.content-elements{
			position: absolute;
		    left: 50%;
		    top: 50%;
		    -webkit-transform: translate(-50%, -50%);
		    transform: translate(-50%, -50%);

		    @media screen and (max-width: 767px){
		    	width: 90%;
		    }

		    .logo-agegate{
		    	width: 100%;
		    	max-width: 250px;
		    	margin: 0 auto 10%;

		    	img{
		    		width: 100%;
		    	}
		    }

		  	h1{
			  	font-family: $mainFont;
			    font-size: 40px;
			    font-weight: 700;
			    text-align: center;
			    color: #FFF;
			    margin-bottom: 30px;

			    @media screen and (max-width: 767px){
			    	font-size: 27px;
			    }
		  	}

			form{
			  	display: flex;
	    		align-items: center;
	    		justify-content: center;
	    		flex-direction: column;

	    		input{
	    			background-color: transparent;
	    			border-bottom: none;
	    			border-radius: 0;
	    			border: 0;
	    			outline: 0;
	    			padding: 0;
				    box-shadow: none;
				    text-align: center;
				    color: $lightColor;
				    margin: 0;
				    font-family: 'Corona Headline',sans-serif;
				    font-size: 30px;
				    font-weight: 700;
				    width: 100%;

				    @media screen and (max-width: 767px){
				    	font-size: 24px;
				    }

				    &::-webkit-input-placeholder {
					    color: $lightColor;
					}

					&:-ms-input-placeholder {
					    color: $lightColor;
					}

					&::-ms-input-placeholder {
					    color: $lightColor;
					}

					&:placeholder {
					    color: $lightColor;
					}

				    &:focus{
				    	color: $lightColor;
				    }
	    		}

	    		input[type=submit]{
					font-family: 'Corona Headline',sans-serif;
				    font-size: 14px;
				    font-weight: 600;
				    letter-spacing: 6px;
				    text-transform: uppercase;
				    height: 50px;
				    width: 212px;
				    display: flex;
				    align-items: center;
				    justify-content: center;
				    border: 2px solid #FFC627;
				    background-color: transparent;
				    color: #FFC627;
				    transition: all .5s ease-in;

				    &:hover{
				    	cursor: pointer;
					    background-color: #FFC627;
					    color: #0E213E;
				    }
	    		}

    			.fecha-nacimiento{
	    			display: flex;
				    background-color: rgba(255,255,255,.1);
				    max-width: 400px;
				    width: 100%;
				    height: 70px;
				    align-items: center;
				    margin-bottom: 20px;

				    .input-field{
				    	margin: 0;
					    width: 30%;
					    position: relative;

					    &:before{
					    	content: '';
						    height: 100%;
						    width: 1px;
						    background-color: #FFF;
						    position: absolute;
						    right: 0;
					    }

					    &:last-child{
					    	&:before{
					    		display: none;
					    	}
					    }
				    }
	    		}
		  	}
		}
	}