@import url("https://fonts.googleapis.com/css?family=Hind");
@font-face {
  font-family: 'HelveticaNeue-CondensedBold';
  src: url("../fonts/HelveticaNeue-CondensedBold/HelveticaNeue-CondensedBold.eot");
  src: url("../fonts/HelveticaNeue-CondensedBold/HelveticaNeue-CondensedBold.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue-CondensedBold/HelveticaNeue-CondensedBold.ttf") format("truetype");
  font-weight: normal; }
@font-face {
  font-family: 'HelveticaNeue-Bold';
  src: url("../fonts/HelveticaNeue-Bold/HelveticaNeue-Bold.eot");
  src: url("../fonts/HelveticaNeue-Bold/HelveticaNeue-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue-Bold/HelveticaNeue-Bold.ttf") format("truetype");
  font-weight: normal; }
/* line 1, ../scss/design/_general.scss */
body {
  font-family: "Hind", sans-serif;
  overflow-x: hidden; }

/* line 5, ../scss/design/_general.scss */
.container,
.col-sm-12 {
  padding: 0;
  width: 100%; }
  /* line 10, ../scss/design/_general.scss */
  .container iframe,
  .col-sm-12 iframe {
    margin-top: 150px; }
    @media screen and (max-width: 767px) {
      /* line 10, ../scss/design/_general.scss */
      .container iframe,
      .col-sm-12 iframe {
        width: 100%;
        height: 240px;
        display: block;
        margin-top: 20%; } }

/* line 21, ../scss/design/_general.scss */
.row {
  margin: 0; }

/* line 24, ../scss/design/_general.scss */
header {
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 99; }
  /* line 32, ../scss/design/_general.scss */
  header .container .navbar-header {
    display: block;
    float: none;
    margin: 0 auto; }
  /* line 39, ../scss/design/_general.scss */
  header .logo img {
    margin-top: 20px;
    width: 197px; }

/* line 45, ../scss/design/_general.scss */
.submitted {
  display: none; }

/* line 49, ../scss/design/_general.scss */
.paragraphs-items .field-name-field-imagen-region,
.paragraphs-items .group-wrapper {
  display: inline-block;
  vertical-align: middle;
  width: 100%; }
/* line 56, ../scss/design/_general.scss */
.paragraphs-items .field-name-field-imagen-region img {
  height: auto;
  width: 100%; }
/* line 61, ../scss/design/_general.scss */
.paragraphs-items .field-name-field-titulo-inicial {
  color: #001b3e;
  font-family: "HelveticaNeue-CondensedBold";
  font-size: 60px;
  line-height: normal;
  max-width: 450px;
  text-transform: uppercase; }
  /* line 68, ../scss/design/_general.scss */
  .paragraphs-items .field-name-field-titulo-inicial strong {
    color: #ffc600;
    font-weight: normal; }
/* line 73, ../scss/design/_general.scss */
.paragraphs-items .field-name-field-enlace {
  margin-top: 20px; }
  /* line 75, ../scss/design/_general.scss */
  .paragraphs-items .field-name-field-enlace a {
    background: #001b3e;
    border: 1px solid #001b3e;
    color: #ffc600;
    display: inline-block;
    font-family: "HelveticaNeue-Bold";
    font-size: 11px;
    letter-spacing: 2px;
    min-width: 254px;
    padding: 22px 0;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s; }
    /* line 88, ../scss/design/_general.scss */
    .paragraphs-items .field-name-field-enlace a:hover, .paragraphs-items .field-name-field-enlace a:focus {
      background: #fff;
      border: 1px solid #001b3e;
      color: #001b3e;
      text-decoration: none;
      -webkit-transition: all 0.8s;
      -moz-transition: all 0.8s;
      -o-transition: all 0.8s;
      -ms-transition: all 0.8s;
      transition: all 0.8s; }
/* line 98, ../scss/design/_general.scss */
.paragraphs-items .field-name-field-enlace,
.paragraphs-items .field-name-field-titulo-inicial {
  letter-spacing: 1px;
  margin-left: 82px;
  margin-top: 0; }
/* line 105, ../scss/design/_general.scss */
.paragraphs-items .parrafo-descripcion p {
  color: #909090;
  font-family: "Hind", sans-serif;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 50px;
  margin-top: 25px;
  text-transform: none; }
  /* line 113, ../scss/design/_general.scss */
  .paragraphs-items .parrafo-descripcion p + p {
    margin-bottom: 0px; }
/* line 118, ../scss/design/_general.scss */
.paragraphs-items .field-name-field-sub-texto-region {
  color: #fff;
  font-size: 22px;
  line-height: 26px;
  margin: 0 auto;
  max-width: 65%; }
/* line 125, ../scss/design/_general.scss */
.paragraphs-items .field-item {
  /*&:nth-child(4){
  	margin-top: 0;
  	overflow-x: hidden;
  	position: relative;
  	z-index: 9;
  	.group-wrapper{
  		padding-bottom: 164px;
  		padding-top: 88px;
  		vertical-align: top;
  		width: 100%;
  	}
  	.field-name-field-imagen-region{
  		width: 100%;
  	}
  	.field-name-field-titulo-inicial{
  		font-size: 60px;
  		letter-spacing: 1px;
  		margin: 0;
  		max-width: 100%;
  		text-align: center;
  		p{
  			strong{
  				margin-bottom: 60px;
  				position: relative;
  				&:after{
  					content: "";
  					background: url(../img/xx.png) no-repeat 0 0;
  					display: inline-block;
  					height: 36px;
  					margin-left: 15px;
  					width: 83px;
  				}
  				&:before{
  					content: "";
  					background: url(../img/pincelada.png) no-repeat 0 0;
  					background-size: contain;
  					bottom: -27px;
  					display: inline-block;
  					height: 26px;
  					right: 107px;
  					position: absolute;
  					width: 236px;
  				}
  			}
  		}		
  		p{
  			margin-bottom: 80px;
  			margin-right: 25px;
  		}		
  		ul{
  			margin-bottom: 20px;
  			min-height: 50px;
  			padding-left: 0;
  			text-align: left;					
  			li{
  				font-size: 20px;
  				height: 50px;
  				letter-spacing: 1px;
  				line-height: 18px;
  				list-style: none;
  				margin-right: 27px;
  				max-width: 830px;
  				word-spacing: -1px;
  				&:first-child{	
  					background: url(../img/circles.png) no-repeat 0 0;
  					background-size: 378px;	
  					padding-left: 400px;					
  					/*&:before{
  						content: "";
  						background: url(../img/circles.png) no-repeat 0 0;
  						background-size: contain;
  						display: inline-block;
  						height: 17px;
  						margin-right: 40px;
  						vertical-align: middle;
  						width: 400px;
  					}
  				}
  				&:nth-child(2n){
  					color: $secondColor;
  					font-size: 70px;
  					letter-spacing: 4px;
  					margin-bottom: 10px;
  					margin-right: 28px;
  					margin-top: -50px;
  					position: relative;
  					text-align: right;
  					z-index: -1;
  				}
  			}
  		}
  	}
  }*/ }
  /* line 128, ../scss/design/_general.scss */
  .paragraphs-items .field-item:first-child .content {
    position: relative; }
  /* line 131, ../scss/design/_general.scss */
  .paragraphs-items .field-item:first-child .field-name-field-sub-texto-region {
    display: none;
    background: #eaeffa;
    color: #001b3e;
    font-family: "HelveticaNeue-CondensedBold";
    font-size: 16px;
    line-height: 24px;
    margin-top: 61px;
    max-width: 100%;
    text-align: center;
    text-transform: uppercase; }
    /* line 142, ../scss/design/_general.scss */
    .paragraphs-items .field-item:first-child .field-name-field-sub-texto-region:before {
      content: "";
      background: url(../img/anillo.svg) no-repeat center;
      background-size: 41px;
      display: inline-block;
      height: 64px;
      margin-right: 26px;
      vertical-align: middle;
      width: 64px; }
    /* line 152, ../scss/design/_general.scss */
    .paragraphs-items .field-item:first-child .field-name-field-sub-texto-region .field-items {
      display: inline-block;
      vertical-align: middle; }
    /* line 156, ../scss/design/_general.scss */
    .paragraphs-items .field-item:first-child .field-name-field-sub-texto-region .field-item {
      letter-spacing: 1px;
      word-spacing: 3px; }
  /* line 161, ../scss/design/_general.scss */
  .paragraphs-items .field-item:first-child .field-name-field-titulo-inicial {
    letter-spacing: 0;
    max-width: 715px;
    margin: 0 auto;
    text-align: center; }
  /* line 167, ../scss/design/_general.scss */
  .paragraphs-items .field-item:first-child .group-wrapper {
    left: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1; }
  /* line 176, ../scss/design/_general.scss */
  .paragraphs-items .field-item:nth-child(2) {
    text-align: center;
    background-image: url("../img/bg-playas.png");
    background-position: 0 center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5%;
    padding-bottom: 5%; }
    /* line 185, ../scss/design/_general.scss */
    .paragraphs-items .field-item:nth-child(2) .field-name-field-imagen-region,
    .paragraphs-items .field-item:nth-child(2) .group-wrapper {
      width: 100%; }
    /* line 190, ../scss/design/_general.scss */
    .paragraphs-items .field-item:nth-child(2) .field-name-field-imagen-region img {
      display: block;
      margin: 0 auto;
      width: auto; }
    /* line 196, ../scss/design/_general.scss */
    .paragraphs-items .field-item:nth-child(2) .field-name-field-titulo-inicial {
      font-size: 50px;
      margin: 0 0 10%;
      max-width: 100%;
      word-spacing: 0px; }
      /* line 201, ../scss/design/_general.scss */
      .paragraphs-items .field-item:nth-child(2) .field-name-field-titulo-inicial strong {
        display: block; }
    @media screen and (max-width: 1550px) {
      /* line 176, ../scss/design/_general.scss */
      .paragraphs-items .field-item:nth-child(2) {
        padding-bottom: 2%;
        background-size: contain;
        background-position: bottom; } }
  /* line 212, ../scss/design/_general.scss */
  .paragraphs-items .field-item:nth-child(3) {
    position: relative;
    text-align: center; }
    /* line 215, ../scss/design/_general.scss */
    .paragraphs-items .field-item:nth-child(3) .field-name-field-imagen-region,
    .paragraphs-items .field-item:nth-child(3) .group-wrapper {
      width: 100%; }
    /* line 220, ../scss/design/_general.scss */
    .paragraphs-items .field-item:nth-child(3) .field-name-field-imagen-region.animated {
      animation-delay: 1.5s; }
    /* line 225, ../scss/design/_general.scss */
    .paragraphs-items .field-item:nth-child(3) .field-name-field-titulo-inicial {
      color: #ffd03e;
      font-size: 32px;
      letter-spacing: 3px;
      margin: 0 auto;
      max-width: 100%; }
      /* line 231, ../scss/design/_general.scss */
      .paragraphs-items .field-item:nth-child(3) .field-name-field-titulo-inicial strong {
        color: #ffd03e;
        display: block; }
    /* line 236, ../scss/design/_general.scss */
    .paragraphs-items .field-item:nth-child(3) .group-wrapper {
      position: relative;
      z-index: 9; }
      /* line 240, ../scss/design/_general.scss */
      .paragraphs-items .field-item:nth-child(3) .group-wrapper .field-name-field-sub-texto-region {
        max-width: 400px; }
    /* line 244, ../scss/design/_general.scss */
    .paragraphs-items .field-item:nth-child(3) .field-name-field-sub-texto-region {
      font-size: 18px;
      line-height: 22px;
      max-width: 406px; }
    /* line 249, ../scss/design/_general.scss */
    .paragraphs-items .field-item:nth-child(3) .field-name-field-enlace {
      bottom: -24px;
      left: 50%;
      margin: 0;
      position: absolute;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }
      /* line 255, ../scss/design/_general.scss */
      .paragraphs-items .field-item:nth-child(3) .field-name-field-enlace a {
        background: #ffc600;
        border: 1px solid #ffc600;
        color: #001b3e;
        padding: 20px 0;
        -webkit-transition: all 0.8s;
        -moz-transition: all 0.8s;
        -o-transition: all 0.8s;
        -ms-transition: all 0.8s;
        transition: all 0.8s; }
        /* line 261, ../scss/design/_general.scss */
        .paragraphs-items .field-item:nth-child(3) .field-name-field-enlace a:hover, .paragraphs-items .field-item:nth-child(3) .field-name-field-enlace a:focus {
          background: #001b3e;
          border: 1px solid #ffc600;
          color: #ffc600;
          -webkit-transition: all 0.8s;
          -moz-transition: all 0.8s;
          -o-transition: all 0.8s;
          -ms-transition: all 0.8s;
          transition: all 0.8s; }
  /* line 271, ../scss/design/_general.scss */
  .paragraphs-items .field-item:nth-child(4) {
    position: relative;
    text-align: center; }
    /* line 274, ../scss/design/_general.scss */
    .paragraphs-items .field-item:nth-child(4) .field-name-field-imagen-region,
    .paragraphs-items .field-item:nth-child(4) .group-wrapper {
      width: 100%; }
    /* line 279, ../scss/design/_general.scss */
    .paragraphs-items .field-item:nth-child(4) .field-name-field-imagen-region.animated {
      animation-delay: 1.5s; }
    /* line 284, ../scss/design/_general.scss */
    .paragraphs-items .field-item:nth-child(4) .field-name-field-titulo-inicial {
      color: #ffd03e;
      font-size: 32px;
      letter-spacing: 3px;
      line-height: 35px;
      margin: 0 auto 20px;
      max-width: 100%; }
      /* line 291, ../scss/design/_general.scss */
      .paragraphs-items .field-item:nth-child(4) .field-name-field-titulo-inicial strong {
        color: #ffd03e;
        display: block; }
    /* line 296, ../scss/design/_general.scss */
    .paragraphs-items .field-item:nth-child(4) .group-wrapper {
      background: #001b3e;
      padding: 66px 20px 77px;
      position: relative;
      z-index: 9; }
      /* line 301, ../scss/design/_general.scss */
      .paragraphs-items .field-item:nth-child(4) .group-wrapper div {
        max-width: 550px; }
      /* line 304, ../scss/design/_general.scss */
      .paragraphs-items .field-item:nth-child(4) .group-wrapper .field-name-field-sub-texto-region {
        max-width: 400px; }
    /* line 308, ../scss/design/_general.scss */
    .paragraphs-items .field-item:nth-child(4) .field-name-field-sub-texto-region {
      font-size: 18px;
      line-height: 22px;
      max-width: 406px; }
    /* line 313, ../scss/design/_general.scss */
    .paragraphs-items .field-item:nth-child(4) .field-name-field-enlace {
      bottom: -24px;
      left: 50%;
      margin: 0;
      position: absolute;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }
      /* line 319, ../scss/design/_general.scss */
      .paragraphs-items .field-item:nth-child(4) .field-name-field-enlace a {
        background: #ffc600;
        border: 1px solid #ffc600;
        color: #001b3e;
        padding: 20px 0;
        -webkit-transition: all 0.8s;
        -moz-transition: all 0.8s;
        -o-transition: all 0.8s;
        -ms-transition: all 0.8s;
        transition: all 0.8s; }
        /* line 325, ../scss/design/_general.scss */
        .paragraphs-items .field-item:nth-child(4) .field-name-field-enlace a:hover, .paragraphs-items .field-item:nth-child(4) .field-name-field-enlace a:focus {
          background: #001b3e;
          border: 1px solid #ffc600;
          color: #ffc600;
          -webkit-transition: all 0.8s;
          -moz-transition: all 0.8s;
          -o-transition: all 0.8s;
          -ms-transition: all 0.8s;
          transition: all 0.8s; }
  /* line 428, ../scss/design/_general.scss */
  .paragraphs-items .field-item .content-anillos {
    width: 100%; }
    /* line 431, ../scss/design/_general.scss */
    .paragraphs-items .field-item .content-anillos .contenidos {
      width: 50%;
      display: inline-block;
      vertical-align: middle; }
      /* line 436, ../scss/design/_general.scss */
      .paragraphs-items .field-item .content-anillos .contenidos.content-texto {
        padding: 2% 4%; }
        /* line 439, ../scss/design/_general.scss */
        .paragraphs-items .field-item .content-anillos .contenidos.content-texto .title {
          margin-bottom: 5%;
          font-size: 36px;
          color: #001b3e; }
          /* line 444, ../scss/design/_general.scss */
          .paragraphs-items .field-item .content-anillos .contenidos.content-texto .title strong {
            color: #ffc600; }
        /* line 449, ../scss/design/_general.scss */
        .paragraphs-items .field-item .content-anillos .contenidos.content-texto .description {
          font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
          font-size: 18px;
          font-weight: bold;
          color: #001b3e;
          letter-spacing: 0;
          text-transform: none; }
      /* line 461, ../scss/design/_general.scss */
      .paragraphs-items .field-item .content-anillos .contenidos.content-imagen img {
        width: 100%; }
    @media screen and (max-width: 767px) {
      /* line 469, ../scss/design/_general.scss */
      .paragraphs-items .field-item .content-anillos .contenidos {
        width: 100%; }
        /* line 472, ../scss/design/_general.scss */
        .paragraphs-items .field-item .content-anillos .contenidos.content-texto {
          padding-bottom: 10%; }
          /* line 475, ../scss/design/_general.scss */
          .paragraphs-items .field-item .content-anillos .contenidos.content-texto .title {
            font-size: 26px; }
          /* line 479, ../scss/design/_general.scss */
          .paragraphs-items .field-item .content-anillos .contenidos.content-texto .description {
            font-size: 14px;
            line-height: initial; } }

/* line 493, ../scss/design/_general.scss */
.addimg img {
  width: 100%; }
/* line 497, ../scss/design/_general.scss */
.addimg.animated {
  animation-delay: 1.5s; }

/* line 502, ../scss/design/_general.scss */
div.modal-forms-modal-content {
  width: 990px; }
  /* line 504, ../scss/design/_general.scss */
  div.modal-forms-modal-content .popups-container {
    background: #e9e9e9;
    height: 560px;
    overflow-y: scroll; }
  /* line 509, ../scss/design/_general.scss */
  div.modal-forms-modal-content .popups-close {
    background: url(../img/close.svg) no-repeat center;
    background-size: 48px;
    display: block;
    float: none;
    height: 48px;
    margin: 15px auto 0;
    opacity: 1;
    width: 48px; }
    /* line 518, ../scss/design/_general.scss */
    div.modal-forms-modal-content .popups-close:hover {
      background: url(../img/close.svg) no-repeat center;
      background-size: 48px; }
  /* line 523, ../scss/design/_general.scss */
  div.modal-forms-modal-content .modal-header {
    border: 0; }
    /* line 525, ../scss/design/_general.scss */
    div.modal-forms-modal-content .modal-header .modal-title {
      display: none; }
  /* line 529, ../scss/design/_general.scss */
  div.modal-forms-modal-content .form-item label {
    display: block;
    float: none;
    height: auto;
    margin-bottom: 15px;
    overflow: inherit;
    padding-left: 12px;
    position: static !important;
    text-align: left;
    width: auto; }
  /* line 541, ../scss/design/_general.scss */
  div.modal-forms-modal-content .field-name-field-acepto-terminos-y-condicio label {
    color: #777;
    font-family: "Hind", sans-serif;
    font-size: 11px;
    letter-spacing: 1px;
    padding-left: 12px;
    text-align: center;
    text-transform: none; }
    /* line 549, ../scss/design/_general.scss */
    div.modal-forms-modal-content .field-name-field-acepto-terminos-y-condicio label a {
      color: #777;
      text-decoration: underline; }
    /* line 553, ../scss/design/_general.scss */
    div.modal-forms-modal-content .field-name-field-acepto-terminos-y-condicio label input[type="checkbox"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: #fff;
      height: 23px;
      margin-left: -32px;
      top: -7px;
      width: 23px; }
      /* line 562, ../scss/design/_general.scss */
      div.modal-forms-modal-content .field-name-field-acepto-terminos-y-condicio label input[type="checkbox"]:checked {
        background: url(../img/check.png) no-repeat center #fff;
        background-size: 14px;
        outline: none; }
      /* line 567, ../scss/design/_general.scss */
      div.modal-forms-modal-content .field-name-field-acepto-terminos-y-condicio label input[type="checkbox"].error {
        border: 1px solid #e24e4b; }
  /* line 572, ../scss/design/_general.scss */
  div.modal-forms-modal-content .field-name-field-acepto-terminos-y-condicio label.error {
    bottom: 0;
    color: #a94442;
    left: 0;
    margin-bottom: 35px;
    padding: 0;
    font-family: "HelveticaNeue-CondensedBold";
    font-size: 16px;
    position: absolute !important;
    text-transform: uppercase;
    width: 100%; }
    /* line 583, ../scss/design/_general.scss */
    div.modal-forms-modal-content .field-name-field-acepto-terminos-y-condicio label.error a {
      color: #a94442; }
  /* line 588, ../scss/design/_general.scss */
  div.modal-forms-modal-content .field-name-field-acepto-terminos-y-condicio .has-error label {
    color: #e24e4b; }
    /* line 590, ../scss/design/_general.scss */
    div.modal-forms-modal-content .field-name-field-acepto-terminos-y-condicio .has-error label a {
      color: #e24e4b; }
  /* line 596, ../scss/design/_general.scss */
  div.modal-forms-modal-content .modal-content {
    overflow: hidden; }
  /* line 601, ../scss/design/_general.scss */
  div.modal-forms-modal-content .form-group.has-error label {
    color: #e24e4b; }

/* line 607, ../scss/design/_general.scss */
.modal-content {
  background: #e9e9e9;
  border: 0;
  box-shadow: none; }

/* line 612, ../scss/design/_general.scss */
#modalContent {
  position: fixed !important;
  top: 20px !important; }

/* line 617, ../scss/design/_general.scss */
form {
  margin: 0 auto;
  max-width: 840px;
  padding: 0 100px; }
  /* line 621, ../scss/design/_general.scss */
  form .btn-fb {
    display: block;
    margin: 30px auto 15px;
    text-align: center; }
  /* line 627, ../scss/design/_general.scss */
  form .group-titulo h2 {
    color: #c6c7c9;
    font-family: "HelveticaNeue-CondensedBold";
    font-size: 32px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase; }
  /* line 635, ../scss/design/_general.scss */
  form .group-titulo h3 {
    border-top: 1px solid #ddd;
    color: #001b3e;
    font-family: "Hind", sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 28px 0 20px;
    text-align: center;
    text-transform: uppercase; }
  /* line 646, ../scss/design/_general.scss */
  form label {
    color: #c6c7c9;
    font-family: "HelveticaNeue-CondensedBold";
    font-size: 16px;
    text-transform: uppercase; }
  /* line 652, ../scss/design/_general.scss */
  form .form-group {
    display: inline-block;
    margin: 0 18px;
    width: 44%;
    vertical-align: top; }
    /* line 657, ../scss/design/_general.scss */
    form .form-group .form-group {
      margin: 0 0 30px;
      width: 100%; }
    /* line 661, ../scss/design/_general.scss */
    form .form-group.form-actions {
      margin: 0;
      text-align: center;
      width: 100%; }
    /* line 667, ../scss/design/_general.scss */
    form .form-group.has-error label {
      color: #e24e4b; }
  /* line 672, ../scss/design/_general.scss */
  form div[id^="edit-account"] {
    margin: 0 18px 15px; }
    /* line 674, ../scss/design/_general.scss */
    form div[id^="edit-account"] .form-group {
      display: inline-block;
      margin: 0;
      width: 100%; }
      /* line 678, ../scss/design/_general.scss */
      form div[id^="edit-account"] .form-group .form-group {
        margin: 0;
        width: 100%; }
      /* line 682, ../scss/design/_general.scss */
      form div[id^="edit-account"] .form-group.form-item-name, form div[id^="edit-account"] .form-group.form-item-pass {
        display: none; }
    /* line 687, ../scss/design/_general.scss */
    form div[id^="edit-account"] .form-item-pass {
      margin: 0;
      width: 100%; }
      /* line 690, ../scss/design/_general.scss */
      form div[id^="edit-account"] .form-item-pass .form-group {
        display: inline-block;
        margin: 0 18px;
        width: 43%; }
  /* line 697, ../scss/design/_general.scss */
  form .field-name-field-acepto-terminos-y-condicio {
    margin-top: 48px;
    text-align: center;
    width: 100%; }
    /* line 701, ../scss/design/_general.scss */
    form .field-name-field-acepto-terminos-y-condicio label {
      text-align: center; }
  /* line 705, ../scss/design/_general.scss */
  form .panel-default {
    background: none;
    border: 0;
    box-shadow: none; }
    /* line 709, ../scss/design/_general.scss */
    form .panel-default .panel-heading {
      background: none;
      border: 0;
      color: #c6c7c9;
      font-family: "HelveticaNeue-CondensedBold";
      font-size: 16px;
      margin-bottom: 15px;
      padding: 1px 0;
      text-align: left;
      text-transform: uppercase; }
    /* line 720, ../scss/design/_general.scss */
    form .panel-default .panel-body {
      padding: 0; }
  /* line 724, ../scss/design/_general.scss */
  form .help-block {
    display: none; }

/* line 728, ../scss/design/_general.scss */
.form-control {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  color: #777;
  font-size: 11px;
  height: 42px;
  text-align-last: center;
  text-align: center;
  text-transform: uppercase; }
  /* line 738, ../scss/design/_general.scss */
  .form-control:focus {
    border: 1px solid #c6c7c9;
    box-shadow: none;
    outline: none; }
  /* line 743, ../scss/design/_general.scss */
  .form-control.error {
    border: 1px solid #e24e4b; }

/* line 749, ../scss/design/_general.scss */
fieldset.date-combo .container-inline-date label {
  display: none; }
/* line 752, ../scss/design/_general.scss */
fieldset.date-combo .container-inline-date .date-padding {
  padding: 0;
  width: 100%; }
/* line 756, ../scss/design/_general.scss */
fieldset.date-combo .container-inline-date .form-item {
  margin: 0; }
  /* line 758, ../scss/design/_general.scss */
  fieldset.date-combo .container-inline-date .form-item input {
    width: 100%; }

/* line 764, ../scss/design/_general.scss */
.btn-success {
  background: #ffc600;
  border: 0;
  border-radius: 0;
  color: #001b3e;
  cursor: pointer;
  display: inline-block;
  font-family: "HelveticaNeue-Bold";
  font-size: 11px;
  letter-spacing: 2px;
  margin-bottom: 76px;
  min-width: 254px;
  padding: 22px  0;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s; }
  /* line 782, ../scss/design/_general.scss */
  .btn-success:active:focus, .btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success[disabled]:hover {
    background: #001b3e;
    color: #ffc600;
    text-decoration: none;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s; }
  /* line 792, ../scss/design/_general.scss */
  .btn-success .ajax-progress {
    bottom: -20px;
    color: #001b3e;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    position: absolute; }

/* line 800, ../scss/design/_general.scss */
.footer {
  margin-top: 0; }

/* line 803, ../scss/design/_general.scss */
footer {
  background: #001b3e;
  position: relative; }
  /* line 806, ../scss/design/_general.scss */
  footer .region-footer {
    padding: 18px 0 25px; }
  /* line 809, ../scss/design/_general.scss */
  footer .btn-success {
    border: 1px solid #ffc600;
    margin-bottom: 34px;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s; }
    /* line 813, ../scss/design/_general.scss */
    footer .btn-success:hover, footer .btn-success:focus {
      border: 1px solid #ffc600;
      background: transparent;
      color: #ffc600;
      -webkit-transition: all 0.8s;
      -moz-transition: all 0.8s;
      -o-transition: all 0.8s;
      -ms-transition: all 0.8s;
      transition: all 0.8s; }
  /* line 821, ../scss/design/_general.scss */
  footer .networks {
    text-align: center; }
    /* line 823, ../scss/design/_general.scss */
    footer .networks ul {
      margin-bottom: 42px;
      padding: 0; }
      /* line 826, ../scss/design/_general.scss */
      footer .networks ul li {
        display: inline-block;
        list-style: none;
        vertical-align: middle; }
        /* line 830, ../scss/design/_general.scss */
        footer .networks ul li:hover {
          opacity: .7; }
        /* line 833, ../scss/design/_general.scss */
        footer .networks ul li:nth-child(2) {
          margin: 0 130px; }
        /* line 836, ../scss/design/_general.scss */
        footer .networks ul li .icon {
          display: inline-block;
          font-size: 0;
          height: 52px;
          overflow: hidden;
          min-width: 52px; }
          /* line 842, ../scss/design/_general.scss */
          footer .networks ul li .icon.icn-fb {
            background: url(../img/facebook.png) no-repeat center 0;
            background-size: contain; }
          /* line 846, ../scss/design/_general.scss */
          footer .networks ul li .icon.icn-inst {
            background: url(../img/instagram.png) no-repeat center 0;
            background-size: contain; }
          /* line 850, ../scss/design/_general.scss */
          footer .networks ul li .icon.icn-tw {
            background: url(../img/twitter.png) no-repeat center 0;
            background-size: contain; }
    /* line 858, ../scss/design/_general.scss */
    footer .networks p a {
      color: #fff;
      font-family: "HelveticaNeue-Bold";
      font-size: 20px;
      letter-spacing: 3px;
      text-transform: uppercase; }
      /* line 864, ../scss/design/_general.scss */
      footer .networks p a:hover {
        opacity: .7;
        text-decoration: none; }
  /* line 871, ../scss/design/_general.scss */
  footer .icons {
    margin: 0 auto 62px;
    text-align: center; }
    /* line 874, ../scss/design/_general.scss */
    footer .icons .item {
      display: block;
      margin: 0 auto;
      text-align: center;
      vertical-align: top;
      max-width: 592px; }
      /* line 880, ../scss/design/_general.scss */
      footer .icons .item p {
        color: #fff;
        display: inline-block;
        font-family: "HelveticaNeue-CondensedBold";
        font-size: 42px;
        letter-spacing: 3px;
        line-height: 38px;
        margin: 30px auto;
        max-width: 70%;
        text-transform: uppercase;
        text-decoration: underline;
        vertical-align: middle; }
      /* line 894, ../scss/design/_general.scss */
      footer .icons .item:nth-child(2).animated {
        animation-delay: 1.5s; }
      /* line 898, ../scss/design/_general.scss */
      footer .icons .item:nth-child(2) .icon img {
        height: auto;
        margin-top: 1px;
        width: 94px; }
    /* line 906, ../scss/design/_general.scss */
    footer .icons .icon {
      background: #fff;
      border-radius: 100%;
      display: inline-block;
      height: 78px;
      margin: 0 25px 0 32px;
      text-align: center;
      vertical-align: middle;
      width: 78px; }
      /* line 915, ../scss/design/_general.scss */
      footer .icons .icon img {
        margin-top: 0; }
  /* line 920, ../scss/design/_general.scss */
  footer .copy {
    margin-top: 112px;
    padding: 0 45px; }
    /* line 923, ../scss/design/_general.scss */
    footer .copy p {
      color: rgba(255, 255, 255, 0.3);
      font-family: "Hind", sans-serif;
      font-size: 10px;
      margin: 0 0 4px; }
      /* line 928, ../scss/design/_general.scss */
      footer .copy p a {
        color: rgba(255, 255, 255, 0.3);
        text-decoration: none;
        text-transform: uppercase; }
  /* line 935, ../scss/design/_general.scss */
  footer .logo {
    bottom: 35px;
    left: 50%;
    position: absolute;
    text-align: center;
    width: 165px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
    /* line 942, ../scss/design/_general.scss */
    footer .logo img {
      width: 165px; }

/* line 950, ../scss/design/_general.scss */
.page-user .footer,
.admin-menu .footer {
  margin: 0; }
/* line 953, ../scss/design/_general.scss */
.page-user header,
.admin-menu header {
  position: static; }

/* line 958, ../scss/design/_general.scss */
.page-user .nav-tabs {
  max-width: 700px;
  margin: 50px auto; }
/* line 963, ../scss/design/_general.scss */
.page-user .form-actions .btn-primary {
  background: #ffc600;
  border: 0;
  border-radius: 0;
  color: #001b3e;
  font-family: "HelveticaNeue-Bold";
  font-size: 11px;
  letter-spacing: 2px;
  margin: 20px 0;
  min-width: 254px;
  padding: 22px  0;
  text-align: center;
  text-transform: uppercase; }
/* line 978, ../scss/design/_general.scss */
.page-user .form-control {
  border: 1px solid #c6c7c9; }
/* line 981, ../scss/design/_general.scss */
.page-user .form-group {
  margin: 0 0 20px;
  width: 100%; }

/* line 986, ../scss/design/_general.scss */
.animated {
  animation-duration: 1s;
  animation-delay: 1s; }

/* line 991, ../scss/design/_general.scss */
.alert {
  background: rgba(0, 0, 0, 0.8) !important;
  border-radius: 0;
  border: 0;
  color: #fff !important;
  height: 100%;
  left: 50%;
  padding: 40px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 9999;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }
  /* line 1005, ../scss/design/_general.scss */
  .alert ul {
    background: #fff;
    font-size: 14px;
    max-width: 400px;
    margin: 60px auto;
    padding: 40px;
    text-align: left; }
    /* line 1012, ../scss/design/_general.scss */
    .alert ul li {
      color: #909090;
      list-style: none; }
    /* line 1016, ../scss/design/_general.scss */
    .alert ul a {
      color: #001b3e; }
      /* line 1018, ../scss/design/_general.scss */
      .alert ul a:hover {
        color: #001b3e; }
  /* line 1023, ../scss/design/_general.scss */
  .alert a {
    color: #fff; }
    /* line 1025, ../scss/design/_general.scss */
    .alert a:hover, .alert a:focus {
      color: #fff; }
  /* line 1030, ../scss/design/_general.scss */
  .alert a.close {
    color: #fff;
    font-size: 30px;
    opacity: 1; }

@media screen and (min-height: 800px) {
  /* line 1039, ../scss/design/_general.scss */
  div.modal-forms-modal-content .popups-container {
    height: 850px; } }
@media screen and (max-width: 1100px) {
  /* line 1049, ../scss/design/_general.scss */
  .paragraphs-items .field-item:first-child .field-name-field-sub-texto-region {
    margin-top: 40px; }
  /* line 1054, ../scss/design/_general.scss */
  .paragraphs-items .field-item:nth-child(4) .group-wrapper {
    padding: 88px 0 25px; }
  /* line 1060, ../scss/design/_general.scss */
  .paragraphs-items .parrafo-descripcion p {
    margin-bottom: 0px; }

  /* line 1067, ../scss/design/_general.scss */
  footer .copy p {
    max-width: 240px; } }
@media screen and (max-width: 960px) {
  /* line 1077, ../scss/design/_general.scss */
  .paragraphs-items .field-name-field-imagen-region {
    overflow: hidden; }
  /* line 1080, ../scss/design/_general.scss */
  .paragraphs-items .field-name-field-enlace,
  .paragraphs-items .field-name-field-titulo-inicial {
    margin-left: 40px; }
  /* line 1086, ../scss/design/_general.scss */
  .paragraphs-items .field-item:first-child .content {
    align-items: center; }
  /* line 1089, ../scss/design/_general.scss */
  .paragraphs-items .field-item:first-child .field-name-field-sub-texto-region {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%; }
  /* line 1096, ../scss/design/_general.scss */
  .paragraphs-items .field-item:nth-child(2) {
    padding: 35px 0; }
    /* line 1100, ../scss/design/_general.scss */
    .paragraphs-items .field-item:nth-child(2) .field-name-field-titulo-inicial {
      font-size: 48px; }
  /* line 1105, ../scss/design/_general.scss */
  .paragraphs-items .field-item:nth-child(4) .field-name-field-titulo-inicial {
    margin: 0; }
    /* line 1111, ../scss/design/_general.scss */
    .paragraphs-items .field-item:nth-child(4) .field-name-field-titulo-inicial ul li {
      text-align: left; }
      /* line 1113, ../scss/design/_general.scss */
      .paragraphs-items .field-item:nth-child(4) .field-name-field-titulo-inicial ul li:nth-child(2n) {
        text-align: right; }
      /* line 1116, ../scss/design/_general.scss */
      .paragraphs-items .field-item:nth-child(4) .field-name-field-titulo-inicial ul li:first-child {
        background-size: 285px;
        padding-left: 330px; }
  /* line 1123, ../scss/design/_general.scss */
  .paragraphs-items .field-item:nth-child(4) .group-wrapper,
  .paragraphs-items .field-item:nth-child(4) .field-name-field-imagen-region {
    padding: 0; }
    /* line 1126, ../scss/design/_general.scss */
    .paragraphs-items .field-item:nth-child(4) .group-wrapper img,
    .paragraphs-items .field-item:nth-child(4) .field-name-field-imagen-region img {
      margin: 0; }
  /* line 1132, ../scss/design/_general.scss */
  .paragraphs-items .field-name-field-sub-texto-region {
    max-width: 650px; }

  /* line 1136, ../scss/design/_general.scss */
  div.modal-forms-modal-content {
    width: 650px; }
    /* line 1138, ../scss/design/_general.scss */
    div.modal-forms-modal-content .popups-container {
      height: 975px; }

  /* line 1142, ../scss/design/_general.scss */
  form {
    padding: 0; } }
@media screen and (max-width: 767px) {
  /* line 1148, ../scss/design/_general.scss */
  header .logo img {
    width: 105px;
    margin-top: 6px; }

  /* line 1154, ../scss/design/_general.scss */
  .paragraphs-items .parrafo-descripcion p {
    font-size: 13px;
    line-height: normal; }
  /* line 1159, ../scss/design/_general.scss */
  .paragraphs-items .field-name-field-enlace,
  .paragraphs-items .field-name-field-titulo-inicial {
    margin-left: 15px; }
  /* line 1164, ../scss/design/_general.scss */
  .paragraphs-items .field-name-field-enlace a {
    margin-top: 30px;
    min-width: inherit;
    padding: 15px; }
  /* line 1170, ../scss/design/_general.scss */
  .paragraphs-items .field-name-field-titulo-inicial {
    font-size: 40px; }
  /* line 1173, ../scss/design/_general.scss */
  .paragraphs-items .field-item {
    			/*&:nth-child(4){
    				.field-name-field-titulo-inicial{
    					margin: 0;
    					p{
    						font-size: 40px;
    						max-width: 345px;
    						left: 50%;
    						margin: 0;
    						padding: 0 42px;
    						text-align: right;
    						transform: translateX(-50%);
    						top: 84px;
    						& + ul{
    							margin-top: 245px;
    						}
    						strong{
    							display: block;
    							margin-bottom: 0;
    							&:before{
    								background: url(../img/xx.png) no-repeat 0 0;
    								background-size: contain;
    								bottom: -9px;
    								height: 30px;
    								left: 0;
    								margin-right: 20px;
    								position: relative;
    								width: 40px;
    							}
    							&:after{
    								background: url(../img/pincelada.png) no-repeat 0 0;
    								background-size: contain;
    								bottom: -46px;
    								height: 50px;
    								right: 0px;
    								width: 166px;
    							}
    						}
    					}
    					ul{
    						margin-bottom: 0;
    						margin-left: 0;
    						padding: 0;
    						li{
    							font-size: 14px;
    							line-height: normal;
    							margin-right: 0;
    							&:nth-child(2n){
    								font-size: 45px;
    								margin-bottom: 18px;
    								margin-right: 0;
    								margin-top: -60px;
    							}
    							&:first-child{
    								background: url(../img/circles2.png) no-repeat 0 5px;
    								background-size: 125px;
    								padding-left: 140px;
    								padding-right: 80px;
    							}
    						}
    						&:last-child{
    							li{
    								&:nth-child(2){
    									margin-bottom: 25px;
    								}
    								&:nth-child(4){
    									margin-bottom: 35px;
    								}
    							}
    						}
    					}
    				}
    				.group-wrapper{
    					margin-bottom: 40px;
    					padding-right: 10px;
    				}
    
    			}*/ }
    /* line 1177, ../scss/design/_general.scss */
    .paragraphs-items .field-item:first-child .field-name-field-sub-texto-region {
      font-size: 14px;
      text-align: left; }
      /* line 1180, ../scss/design/_general.scss */
      .paragraphs-items .field-item:first-child .field-name-field-sub-texto-region:before {
        background: url(../img/anillo2.svg) no-repeat center #001b3e;
        background-size: 37px;
        margin-right: 15px; }
      /* line 1185, ../scss/design/_general.scss */
      .paragraphs-items .field-item:first-child .field-name-field-sub-texto-region .field-item {
        max-width: 260px;
        font-size: 13px;
        word-spacing: 1px; }
    /* line 1191, ../scss/design/_general.scss */
    .paragraphs-items .field-item:first-child .field-name-field-titulo-inicial {
      margin: 0 15px; }
    /* line 1195, ../scss/design/_general.scss */
    .paragraphs-items .field-item:first-child .field-name-field-imagen-region img {
      height: 492px;
      left: 50%;
      max-width: inherit;
      -webkit-transform: translateX(-52%);
      -moz-transform: translateX(-52%);
      -o-transform: translateX(-52%);
      -ms-transform: translateX(-52%);
      transform: translateX(-52%);
      position: relative;
      width: auto; }
    /* line 1285, ../scss/design/_general.scss */
    .paragraphs-items .field-item:nth-child(4) .group-wrapper {
      padding: 16% 6%; }
      /* line 1288, ../scss/design/_general.scss */
      .paragraphs-items .field-item:nth-child(4) .group-wrapper .field-name-field-titulo-inicial {
        margin-bottom: 6%; }
        /* line 1291, ../scss/design/_general.scss */
        .paragraphs-items .field-item:nth-child(4) .group-wrapper .field-name-field-titulo-inicial p {
          font-size: 20px;
          line-height: initial; }
      /* line 1299, ../scss/design/_general.scss */
      .paragraphs-items .field-item:nth-child(4) .group-wrapper .field-name-field-sub-texto-region p {
        font-size: 14px; }
    /* line 1306, ../scss/design/_general.scss */
    .paragraphs-items .field-item:nth-child(2) {
      margin-bottom: 120px;
      background-image: url(../img/bg-playas-mobile.png);
      background-position: 0 100px;
      background-size: cover; }
      /* line 1313, ../scss/design/_general.scss */
      .paragraphs-items .field-item:nth-child(2) .field-name-field-imagen-region img {
        width: 100%; }
      /* line 1317, ../scss/design/_general.scss */
      .paragraphs-items .field-item:nth-child(2) .field-name-field-titulo-inicial {
        font-size: 26px;
        letter-spacing: 1px;
        margin: 0 3% 45%; }
        /* line 1321, ../scss/design/_general.scss */
        .paragraphs-items .field-item:nth-child(2) .field-name-field-titulo-inicial strong {
          display: block; }
      /* line 1325, ../scss/design/_general.scss */
      .paragraphs-items .field-item:nth-child(2) .field-name-field-sub-texto-region {
        font-size: 14px;
        line-height: 18px;
        padding: 0 45px; }
    /* line 1331, ../scss/design/_general.scss */
    .paragraphs-items .field-item:nth-child(3) {
      margin-top: -75px; }
      /* line 1336, ../scss/design/_general.scss */
      .paragraphs-items .field-item:nth-child(3) .field-name-field-titulo-inicial {
        font-size: 25px;
        line-height: 30px; }
        /* line 1340, ../scss/design/_general.scss */
        .paragraphs-items .field-item:nth-child(3) .field-name-field-titulo-inicial strong {
          display: inline; }
      /* line 1344, ../scss/design/_general.scss */
      .paragraphs-items .field-item:nth-child(3) .field-name-field-sub-texto-region {
        color: #fff;
        font-size: 15px;
        font-weight: normal;
        line-height: 18px;
        padding: 0 26px; }
      /* line 1351, ../scss/design/_general.scss */
      .paragraphs-items .field-item:nth-child(3) .field-name-field-enlace {
        bottom: -21px; }
        /* line 1353, ../scss/design/_general.scss */
        .paragraphs-items .field-item:nth-child(3) .field-name-field-enlace a {
          min-width: 240px; }
      /* line 1358, ../scss/design/_general.scss */
      .paragraphs-items .field-item:nth-child(3) .field-name-field-imagen-region img {
        height: 260px;
        max-width: inherit;
        -webkit-transform: translateX(-38%);
        -moz-transform: translateX(-38%);
        -o-transform: translateX(-38%);
        -ms-transform: translateX(-38%);
        transform: translateX(-38%);
        width: auto; }

  /* line 1368, ../scss/design/_general.scss */
  div.modal-forms-modal-content {
    height: 94%;
    width: 300px; }
    /* line 1371, ../scss/design/_general.scss */
    div.modal-forms-modal-content .popups-container {
      height: 100%; }
    /* line 1374, ../scss/design/_general.scss */
    div.modal-forms-modal-content .modal-scroll {
      height: 514px; }
    /* line 1377, ../scss/design/_general.scss */
    div.modal-forms-modal-content .popups-close {
      background-size: 30px;
      height: 30px;
      width: 30px; }
    /* line 1382, ../scss/design/_general.scss */
    div.modal-forms-modal-content .modal-content {
      padding: 0 25px; }
    /* line 1386, ../scss/design/_general.scss */
    div.modal-forms-modal-content .form-item label {
      padding: 0; }

  /* line 1393, ../scss/design/_general.scss */
  form .group-titulo h2 {
    font-size: 25px; }
  /* line 1397, ../scss/design/_general.scss */
  form .form-group {
    margin: 0;
    width: 100%; }
  /* line 1401, ../scss/design/_general.scss */
  form div[id^="edit-account"] {
    margin: 30px 0; }
  /* line 1404, ../scss/design/_general.scss */
  form .field-name-field-acepto-terminos-y-condicio {
    margin-top: 50px;
    padding-left: 0; }
    /* line 1407, ../scss/design/_general.scss */
    form .field-name-field-acepto-terminos-y-condicio label.error {
      text-align: left; }

  /* line 1412, ../scss/design/_general.scss */
  #modalContent {
    background: #e9e9e9;
    border-radius: 5px;
    height: 94%; }

  /* line 1417, ../scss/design/_general.scss */
  .btn-success {
    margin-bottom: 0;
    padding: 16px 0; }

  /* line 1423, ../scss/design/_general.scss */
  footer .networks ul {
    margin-bottom: 24px; }
    /* line 1426, ../scss/design/_general.scss */
    footer .networks ul li .icon {
      height: 26px;
      width: 26px; }
    /* line 1430, ../scss/design/_general.scss */
    footer .networks ul li:nth-child(2) {
      margin: 0 34px; }
  /* line 1436, ../scss/design/_general.scss */
  footer .networks p a {
    font-size: 12px; }
  /* line 1441, ../scss/design/_general.scss */
  footer .region-footer {
    padding: 60px 0 25px; }
  /* line 1444, ../scss/design/_general.scss */
  footer .copy {
    margin-top: 30px;
    padding: 0 35px;
    text-align: center; }
    /* line 1448, ../scss/design/_general.scss */
    footer .copy p {
      max-width: 100%; }
  /* line 1452, ../scss/design/_general.scss */
  footer .logo {
    position: static;
    margin: 25px 0 0;
    width: 100%;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }
    /* line 1457, ../scss/design/_general.scss */
    footer .logo img {
      width: 90px; }
  /* line 1461, ../scss/design/_general.scss */
  footer .icons {
    margin: 0 auto 30px;
    max-width: 355px; }
    /* line 1464, ../scss/design/_general.scss */
    footer .icons .icon {
      height: 50px;
      width: 50px; }
      /* line 1467, ../scss/design/_general.scss */
      footer .icons .icon img {
        margin-top: 7px;
        height: auto;
        width: 38px; }
    /* line 1473, ../scss/design/_general.scss */
    footer .icons .item {
      max-width: 276px; }
      /* line 1475, ../scss/design/_general.scss */
      footer .icons .item p {
        font-size: 26px;
        line-height: 20px; }
      /* line 1481, ../scss/design/_general.scss */
      footer .icons .item:nth-child(2) .icon img {
        margin-top: 2px;
        width: 45px; }

  /* line 1490, ../scss/design/_general.scss */
  .footer {
    margin-top: -1px; } }
@media screen and (max-width: 320px) {
  /* line 1497, ../scss/design/_general.scss */
  .paragraphs-items .field-name-field-enlace,
  .paragraphs-items .field-name-field-titulo-inicial {
    margin-left: 10px; }
  /* line 1502, ../scss/design/_general.scss */
  .paragraphs-items .field-name-field-enlace a {
    margin-top: 12px;
    padding: 15px 8px; }
  /* line 1509, ../scss/design/_general.scss */
  .paragraphs-items .field-item:first-child .field-name-field-sub-texto-region {
    font-size: 12px;
    line-height: normal; }
    /* line 1512, ../scss/design/_general.scss */
    .paragraphs-items .field-item:first-child .field-name-field-sub-texto-region:before {
      margin-right: 11px; }
    /* line 1515, ../scss/design/_general.scss */
    .paragraphs-items .field-item:first-child .field-name-field-sub-texto-region .field-item {
      max-width: 235px; }
  /* line 1519, ../scss/design/_general.scss */
  .paragraphs-items .field-item:first-child .field-name-field-imagen-region:before {
    height: 354px; } }
/* line 1535, ../scss/design/_general.scss */
.flotante-registro {
  width: 270px;
  overflow: hidden;
  text-align: center;
  background: #fff;
  -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 10;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  transition: transform .5s linear; }
  /* line 1550, ../scss/design/_general.scss */
  .flotante-registro .close {
    display: block;
    text-align: right;
    padding: 10px 10px 0;
    cursor: pointer; }
    /* line 1556, ../scss/design/_general.scss */
    .flotante-registro .close:after {
      content: "";
      width: 20px;
      height: 20px;
      border-left: 2px solid #FFC627;
      border-bottom: 2px solid #FFC627;
      margin: auto;
      position: absolute;
      top: 20px;
      right: 15px;
      -webkit-transform: rotate(-135deg);
      transform: rotate(-135deg);
      transition-duration: .2s;
      transition-property: -webkit-transform;
      transition-property: transform;
      transition-property: transform,-webkit-transform;
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out; }
    /* line 1580, ../scss/design/_general.scss */
    .flotante-registro .close:hover:after {
      border-left: 2px solid #0C2340;
      border-bottom: 2px solid #0C2340; }
  /* line 1587, ../scss/design/_general.scss */
  .flotante-registro .copy {
    padding: 15px 10px;
    margin: 0 0;
    font-family: "HelveticaNeue-CondensedBold";
    font-size: 18px;
    line-height: 1;
    font-weight: bold;
    text-transform: uppercase;
    color: #0C2340; }
  /* line 1598, ../scss/design/_general.scss */
  .flotante-registro .btn-registro {
    width: 150px;
    display: block;
    padding: 15px 10px;
    margin: 2% auto 8%;
    text-align: center;
    background: #FFC627;
    border: none;
    text-decoration: none;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out; }
    /* line 1614, ../scss/design/_general.scss */
    .flotante-registro .btn-registro:hover {
      color: #fff;
      background: #0C2340; }
      /* line 1618, ../scss/design/_general.scss */
      .flotante-registro .btn-registro:hover span {
        color: #fff; }
    /* line 1623, ../scss/design/_general.scss */
    .flotante-registro .btn-registro span {
      font-size: 18px;
      font-family: "HelveticaNeue-CondensedBold";
      color: #0C2340;
      text-transform: uppercase; }
  /* line 1631, ../scss/design/_general.scss */
  .flotante-registro.animate {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    display: block; }
  @media screen and (max-width: 767px) {
    /* line 1535, ../scss/design/_general.scss */
    .flotante-registro {
      width: 100%; }
      /* line 1640, ../scss/design/_general.scss */
      .flotante-registro .close {
        display: none; }
      /* line 1644, ../scss/design/_general.scss */
      .flotante-registro .copy {
        width: 53%;
        padding: 12px 0;
        font-size: 16px;
        float: right; }
      /* line 1651, ../scss/design/_general.scss */
      .flotante-registro .btn-registro {
        width: auto;
        float: left;
        margin: 10px 2% 10px 4%; } }

/*----- Agegate Form -----*/
/* line 1661, ../scss/design/_general.scss */
.content-agegate {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-image: url("../img/MorganMaassenAG2.jpg");
  background-position: 0 center;
  background-repeat: no-repeat;
  background-size: cover; }
  @media screen and (max-width: 767px) {
    /* line 1661, ../scss/design/_general.scss */
    .content-agegate {
      background-position: center center; } }
  /* line 1678, ../scss/design/_general.scss */
  .content-agegate .content-elements {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    @media screen and (max-width: 767px) {
      /* line 1678, ../scss/design/_general.scss */
      .content-agegate .content-elements {
        width: 90%; } }
    /* line 1689, ../scss/design/_general.scss */
    .content-agegate .content-elements .logo-agegate {
      width: 100%;
      max-width: 250px;
      margin: 0 auto 10%; }
      /* line 1694, ../scss/design/_general.scss */
      .content-agegate .content-elements .logo-agegate img {
        width: 100%; }
    /* line 1699, ../scss/design/_general.scss */
    .content-agegate .content-elements h1 {
      font-family: "HelveticaNeue-CondensedBold";
      font-size: 40px;
      font-weight: 700;
      text-align: center;
      color: #FFF;
      margin-bottom: 30px; }
      @media screen and (max-width: 767px) {
        /* line 1699, ../scss/design/_general.scss */
        .content-agegate .content-elements h1 {
          font-size: 27px; } }
    /* line 1712, ../scss/design/_general.scss */
    .content-agegate .content-elements form {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column; }
      /* line 1718, ../scss/design/_general.scss */
      .content-agegate .content-elements form input {
        background-color: transparent;
        border-bottom: none;
        border-radius: 0;
        border: 0;
        outline: 0;
        padding: 0;
        box-shadow: none;
        text-align: center;
        color: #fff;
        margin: 0;
        font-family: 'Corona Headline',sans-serif;
        font-size: 30px;
        font-weight: 700;
        width: 100%; }
        @media screen and (max-width: 767px) {
          /* line 1718, ../scss/design/_general.scss */
          .content-agegate .content-elements form input {
            font-size: 24px; } }
        /* line 1738, ../scss/design/_general.scss */
        .content-agegate .content-elements form input::-webkit-input-placeholder {
          color: #fff; }
        /* line 1742, ../scss/design/_general.scss */
        .content-agegate .content-elements form input:-ms-input-placeholder {
          color: #fff; }
        /* line 1746, ../scss/design/_general.scss */
        .content-agegate .content-elements form input::-ms-input-placeholder {
          color: #fff; }
        /* line 1750, ../scss/design/_general.scss */
        .content-agegate .content-elements form input:placeholder {
          color: #fff; }
        /* line 1754, ../scss/design/_general.scss */
        .content-agegate .content-elements form input:focus {
          color: #fff; }
      /* line 1759, ../scss/design/_general.scss */
      .content-agegate .content-elements form input[type=submit] {
        font-family: 'Corona Headline',sans-serif;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 6px;
        text-transform: uppercase;
        height: 50px;
        width: 212px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #FFC627;
        background-color: transparent;
        color: #FFC627;
        transition: all .5s ease-in; }
        /* line 1775, ../scss/design/_general.scss */
        .content-agegate .content-elements form input[type=submit]:hover {
          cursor: pointer;
          background-color: #FFC627;
          color: #0E213E; }
      /* line 1782, ../scss/design/_general.scss */
      .content-agegate .content-elements form .fecha-nacimiento {
        display: flex;
        background-color: rgba(255, 255, 255, 0.1);
        max-width: 400px;
        width: 100%;
        height: 70px;
        align-items: center;
        margin-bottom: 20px; }
        /* line 1791, ../scss/design/_general.scss */
        .content-agegate .content-elements form .fecha-nacimiento .input-field {
          margin: 0;
          width: 30%;
          position: relative; }
          /* line 1796, ../scss/design/_general.scss */
          .content-agegate .content-elements form .fecha-nacimiento .input-field:before {
            content: '';
            height: 100%;
            width: 1px;
            background-color: #FFF;
            position: absolute;
            right: 0; }
          /* line 1806, ../scss/design/_general.scss */
          .content-agegate .content-elements form .fecha-nacimiento .input-field:last-child:before {
            display: none; }
